html{
    background-color: #FBFADA;
}

#divhead{
    
    background-color: #7F27FF;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding:0px;
    margin: 0px;
    font-size: 38px;

}
.menu{
    text-decoration: none;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 8px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding:0px;
    margin: 0px;
}
.menu:hover{
 color: #FF8911;
}
h1{
        font-family: "Rubik Gemstones", system-ui;
        font-weight: 400;
        font-style: normal;   
        padding:20px;
        margin: 0px;
}
.div{
    background-color: #FF8911;
    padding: 0.5px;
    text-align: center;
    margin-top: 0px;
}

footer{
    text-align: center;
    background-color: #7F27FF ;
    margin: 0px;
    padding: 0px;
    color: white;
    width: 100%;
    height: 50px;
}

p{
    margin: 0px;
    padding: 20px;
    font-size: 15px;
    
}

.color-title{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Radio Canada", sans-serif;
    font-weight: weight;
    font-style: normal;
   
}
.color-title:hover{
    color: #7F27FF;
}   

.fimage{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-transform: uppercase;
}


li{
    font-size: 20px;
    font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-self: center;
    
}
.paragraph{
    
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
#first-paragraph{
    position: absolute;
    float: left;
    left: 55%;
    top: 45%;
    width: 40%;
    height: 270px;
    padding: 0px;
    
   
}
#second-paragraph{
    position: absolute;
    left: 55%;
    top: 115%;
    padding: 0px;
 
}
#third-paragraph{
    position: absolute;
    left: 50%;
    top: 185%;
    padding: 0px;
  
    width: 45% ;
}
.image{
   width: 45%;
   height: 350px;
   border: 5px solid #FF8911;
}





